<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head-speed.html" . }}
    <link rel="stylesheet" href="{{ "css/landjustice.css" | absURL }}">
</head>
<body>
  <div id="all">
      <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
            <div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
                <div class="sidebar-content">
                  <h1 class="sidebar-heading"><a href="/speedoftrust">Speed of Trust</a></h1>

                    <p class="sidebar-p">
                        
                        Welcome to the audio hub and interactive guidebook for Speed of Trust, an exhibition by Rosie McLean at Fusion Arts Oxford.
                        For more information about any of the exhibits, as well as an audio description file, please click on the image of the exhibit you wish to view.


                        

                    </p>
                  <div class="copyright">
                    <p class="credit">
                        Website design and hosting &copy 2023 Alva C. J. Orr at <a href="/">FishLasers Limited</a>.

                        Audio files recorded by Dot.
                        Rosie may be found at <a href="www.rosiemclean.com">www.rosiemclean.com</a>
                    </p>
                  </div>
                </div>
              </div>
              
              {{ block "main" . }}
              {{ end }}
          </div>
      </div>
  </div>
  {{ partial "scripts.html" . }}
</body>
</html>
