{{ define "head" }}
<link rel="stylesheet" href='{{ "css/list.css" | absURL }}'>
{{ end }}

{{ define "main" }}

<main id="main" class="archive">
  <h1 style="text-align:left">{{ .Title }}</h1>
  <article class="content">{{ .Content }}</article>
  {{ $pages := where .Data.Pages "Type" "equipment" }}
  {{ range $pages.GroupByParam "equipment-group" }}
  <div class="post-group">
    <h2>{{ (printf "%s" .Key) }}</h2>
    <ul>
      {{ range .Pages }}
      <li style="line-height:30%;">
        <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>        
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  <div class="post-group">
    <h2>...</h2>
  </div>
</main>
{{ end }}
